@charset "utf-8";

.box ,
.fadeInMain,
.delayScroll,
.fadeUp {
	opacity: 1;
}


.main-visual .slider li:not(:first-child) {
	display: none;
}

.faq-list dd{
	display: block;
}

/* 
------------------------------------------------------------------------------------------------------
タブレット以下の表示はここからです
------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width:767px){


}	
