@charset "utf-8";

.sub-visual {
	background-image: url(../images/recruit-mv.jpg);
}

.ttl-main {
	font-size: 1.75rem; /*28px*/
	margin-bottom: 20px;
	color: var(--maincolor);
}

.ttl-main::before {
	content:"";
	display: block;
	background: url(../images/icon-ttl.svg) no-repeat;
	margin: 0 auto 15px auto;
	width: 25px;
    height: 25px;
}

.ttl-2 {
	text-align: center;
	font-size: 1.625rem; /*26px*/
	font-weight: bold;
	margin-bottom: 60px;
	position: relative;
}

.ttl-2::before {
	content: " ";
	width: 30px;
	height: 3px;
	background: var(--maincolor);
	position: absolute;
	bottom: -15px;
	left: 50%;
	transform: translateX(-50%);
}

/*--------------------------------------------------------------------------------------*/
.sec-01 {
	text-align: center;
	margin-bottom: 70px;
	line-height: 1.3;
}

.sec-02,.sec-03 {
	align-items: center;
	position: relative;
	flex-direction: row-reverse;
	margin-bottom: 110px;
}

.sec-02 .flex-photo,
.sec-03 .flex-photo {
	width: 60%;
}

.sec-02 .flex-text,
.sec-03 .flex-text  {
	background: #fff  url(../images/bg-scissors-gr.svg) no-repeat bottom 10px right 10px;
	background-size: 30%;
	padding: 30px;
	position: absolute;
	width: 50%;
	min-height: 65%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-shadow: 0px 0px 20px rgb(0 0 0 / 20%);
	line-height: 1.5;
	z-index: 1;
}

.sec-02 .flex-text h4,
.sec-03 .flex-text  h4 {
	line-height: 1.2;
}

.sec-02 .flex-text {
	left: 20px;
}

.sec-03 .flex-text  {
	right: 20px;
}

.sec-03 {
	flex-direction: row;
}

.sec-04 {
	background-color: var(--bg-gr-color);
	text-align: center;
	padding: 100px 30px 0;
}

.sec-04 h3 + p {
	background-color: #fff;
	background-image: url(../images/bg-messagen-gy.svg) ,url(../images/bg-scissors-gy.svg);
	background-repeat: no-repeat, no-repeat;
	background-position: top 30px left 15px , top 50% right 20px;
	background-size: 40%, 12%;
	font-size: 1.125rem; /*18px*/
	line-height: 1.75em;
	padding: 35px 0;
	font-weight: bold;
	margin-bottom: 100px;
}

.sec-04 h4 {
	font-family: var(--font-en);
	font-weight: 900;
	font-size: 2.12rem; /*34px*/
	/* letter-spacing: 0.1em; */
	margin-bottom: 70px;
}

.sec-04  ul {
	flex-wrap: wrap;
}

.sec-04  ul li {
	width: 32%;
	background: #fff;
	border-radius: 10px;
	border: 3px solid var(--maincolor);
	padding: 60px 20px 30px;
	box-sizing: border-box;
	margin-bottom: 20px;
	position: relative;
	margin-bottom: 70px;
}

.sec-04  ul li span {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background: var(--maincolor);
	position: absolute;
	left: 50%;
    transform: translateX(-50%);
    top: -35px;
	align-items: center;
}

.sec-04  ul li span img {
	height: 35px;
}

.sec-04  ul li h5 {
	color: var(--maincolor);
	font-size: 1.375rem; /*22px*/
	font-weight: bold;
	margin-bottom: 20px;
}

.sec-04 ul li p {
	text-align: left;
	line-height: 1.5;
}

.sec-04  ul li:not(:nth-child(3n+3)) {
	margin-right: 2%;
}

.sec-05 {
	flex-direction: row-reverse;
	align-items: center;
	margin-bottom: 100px;
}

.sec-05 .flex-photo {
	width: 44%;
}

.sec-05 .flex-text {
	width: 56%;
	padding-left: 60px;
}

.sec-05 h4 {
	background: url(../images/bg-messagen-gr.svg) no-repeat;
	padding-top: 80px;
	background-size: contain;
	line-height: 1.3;
	font-size: 1.625rem; /*26px*/
}

.sec-05 .flex-text p {
	line-height: 1.6;
}

.sec-06 {
	background: linear-gradient(180deg, #efefef 0%, #fff 10%);
	padding-top: 100px;
}

.sec-06 dl {
	margin-bottom: 50px;
}

.sec-06 dl div {
	border-top: 1px solid var(--border-color);
	padding: 30px 0;
	line-height: 1.5;
}

.sec-06 dt {
	font-weight: bold;
	color: var(--maincolor);
	min-width: 10em;
}

.sec-06 dd ul {
	list-style-type: disc;
	padding-left: 1em;
}

.sec-06 .list-colum {
	display: flex;
	flex-wrap: wrap;
}

.sec-06 .list-colum li {
	width: 50%;
}

.sec-06 .entry {
	display: flex;
	border: 4px solid var(--border-color);
	margin-bottom: 50px;
}

.sec-06 .entry h4 {
	background: var(--border-color);
	font-size: 1.25rem; /*20px相当*/
	padding: 0 50px;
	display: flex;
	align-items: center;
	color: #fff;
	min-width: 7em;
}

.sec-06 .entry p {
	padding: 10px 20px;
	line-height: 1.5;
}

.sec-06 .flow {
	justify-content: space-between;
}

.sec-06 .flow li {
	text-align: center;
	width: 22%;
	background: var(--maincolor);
	color: #fff;
	flex-direction: column;
	padding: 25px 10px;
	font-weight: bold;
	font-size: 1.25rem; /*200px*/
	justify-content: center;
	box-sizing: border-box;
	position: relative;
}

.sec-06 .flow li:first-child {
	background: #fff;
	border: 2px solid var(--maincolor);
	color: var(--maincolor);
}

.sec-06 .flow li span {
	font-size: 0.875rem; /*14px相当*/
	font-family: var(--font-en);
	margin-bottom: 5px;
}

.sec-06 .flow li::before {
    content: "";
    position: absolute;
    right: -12%;
    display: inline-block;
    width: 8px;
    height: 8px;
    border-top: 3px solid #aaa;
    border-right: 3px solid #aaa;
    transform: rotate(45deg);
}

.sec-06 .flow li:last-child::before {
	display: none;
}

.sec-07 {
	background: linear-gradient(180deg, #efefef 0%, #fff 10%);
	padding-top: 100px;
}

.sec-07 dl {
	margin-bottom: 50px;
}

.sec-07 dl div {
	border-top: 1px dotted var(--border-color);
	padding: 20px 10px;
	/* align-items: center; */
}

.sec-07 dt {
	font-weight: bold;
	min-width: 15em;
	line-height: 40px;
}

.sec-07 .wrapper form div:nth-of-type(3) dt {
	line-height: 20px;
}

.sec-07 dt::before {
	content: "必須";
	font-size: 0.875rem; /*14px相当*/
	background: var(--maincolor);
	color: #fff;
	padding: 5px;
	font-weight: bold;
	margin-right: 10px;
}

.sec-07 dd {
	width: calc(100% - 15em);
}

.sec-07 dd span {
	display: block;
	font-size: 0.875rem; /*14px*/
	color: red;
	margin-top: 10px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border:1px solid #ccc;
	border-radius: 4px;
	font-size: 1rem;
}

::placeholder {
	color: #ccc;
}

input[type="radio"] {
	position: absolute;
	visibility: hidden;
}

.radio {
	position: relative;
	cursor: pointer;
	padding-left: 30px;
}

.radio::before,
.radio::after {
	content: "";
	display: block; 
	border-radius: 50%;
	position: absolute;
	transform: translateY(-50%);
	top: 50%;
}

.radio::before {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	left: 5px;
}

.radio::after {
	background-color: var(--maincolor);
	border-radius: 50%;
	opacity: 0;
	width: 14px;
    height: 14px;
    left: 9px;
}

input[type="radio"]:checked + .radio::after {
	opacity: 1;
}

.sec-07 p {
	text-align: center;
	margin-bottom: 30px;
}

.sec-07 p input[type="checkbox"]{
    display: none;
}
/* チェックボックスの代わりを成すラベル */
.sec-07 p input[type="checkbox"]+label{
    display: none;
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 35px;
    padding-right: 10px;
}

.sec-07 p input[type="checkbox"]+label::before{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    margin-top: -14px;
    left: 0;
    top: 50%;
    border: 1px solid #ccc;
    background-color: #fff; 
}

.sec-07 p input[type="checkbox"]:checked+label::after{
    content: "";
    position: absolute;
    display: block;
    box-sizing: border-box;
    width: 22px;
    height: 12px;
    margin-top: -7px;
    top: 50%;
    left: 4px;
    transform: rotate(-45deg);
    border-bottom: 5px solid var(--maincolor);
    border-left: 5px solid var(--maincolor);
}

.sec-07 .privacy-policy {
	height: 8em;
	padding: 1em;
	border: 1px solid var(--text-color);
	overflow-y: scroll;
	background: #fff;
	font-size: 0.875rem; /*14px相当*/
	margin-bottom: 50px;
	line-height: 1.5;
}

.sec-07 .privacy-policy h6 {
	margin-bottom: 1em;
}

.sec-07 p input[type="submit"]{
	background: var(--text-color);
	color: #fff;
	line-height: 80px;
	padding: 0 140px;
	border: none;
	font-size: 1.375rem; /*22px*/
	font-weight: bold;
	letter-spacing: var(--ls150);
}

.disabled {
	opacity: 0.6;
	cursor: not-allowed;
}

/* 
------------------------------------------------------------------------------------------------------
タブレット以下の表示はここからです
------------------------------------------------------------------------------------------------------
*/
@media screen and (max-width:767px){
	.ttl-main {
		font-size: 1.5rem; /*24*/
	}

	.sec-02,.sec-03 {
		flex-direction: column-reverse;
		position: initial;
		padding: 0;
	}

	.sec-02 .flex-photo,
	.sec-03 .flex-photo {
		width: 100%;
		max-width: 600px;
	}

	.sec-02 .flex-text,
	.sec-03 .flex-text  {
		position: initial;
		max-width: 550px;
		min-height: 0%;
		padding: 25px;
		width: 90%;
		margin-top: -30px;
		z-index: 1;
	}

	.sec-02 .flex-text {
		left: 0px;
	}

	.sec-03 .flex-text  {
		right: 0px;
	}

	.sec-04 {
		padding: 60px 0 0;
		margin-bottom: 0;
		text-align: center;
	}

	.sec-04 h3 + p  {
		background-position: top 10px left 10px , bottom 10px right 10px;
		background-size: 90%, 40%;
		font-size: 1rem; /*16px*/
		text-align: left;
		padding: 30px 15px;
	}

	.sec-04  ul li {
		width: 100%;
	}

	.sec-04  ul li:not(:nth-child(3n+3)) {
		margin-right: 0;
	}

	.sec-05 {
		padding: 80px 0 0;
		flex-direction: column-reverse;
	}
	
	.sec-05 .flex-photo {
		width: 100%;
		max-width: 500px;
	}
	
	.sec-05 .flex-text {
		width: 90%;
		padding-left: 0;
	}

	.sec-06  {
		padding-top: 60px;
		margin-bottom: 50px;
	}

	.sec-06 dl div {
		flex-direction: column;
		padding: 10px;
	}

	.sec-06 dt {
		margin-bottom: 5px;
	}
	
	.sec-06 .list-colum {
		display: block;
	}

	.sec-06 .list-colum li {
		width: 100%;
	}

	.sec-06 .entry {
		display: block;
		margin-bottom: 50px;
	}

	.sec-06 .entry h4 {
		padding: 10px 20px;
		display: block;
	}

	.sec-06 .entry p {
		padding: 10px 20px;
		line-height: 1.5;
	}

	.sec-06 .flow {
		flex-direction: column;
	}

	.sec-06 .flow li {
		text-align: center;
		width: 100%;
		flex-direction: row;
		padding: 25px 10px;
		font-size: 1.25rem; /*200px*/
		margin-bottom: 40px;
		align-items: center;
	}

	.sec-06 .flow li span {
		margin-bottom: 0px;
		margin-right: 2em;
	}

	.sec-06 .flow li::before {
		right: 50%;
		bottom: -20px;
		transform: rotate(135deg);
	}

	.sec-07 {
		padding-top: 60px;
	}

	.sec-07 dl {
		margin-bottom: 50px;
	}

	.sec-07 dl div {
		padding: 20px 10px;
		flex-direction: column;
	}

	.sec-07 dt {
		width: 100%;
		margin-bottom: 15px;
	}

	.sec-07 dd {
		width: 100%;
	}

	.sec-07 p {
		text-align: left;
	}

	.sec-07 p input[type="submit"]{
		line-height: 60px;
		padding: 0;
		width: 100%;
	}
}
