@charset "utf-8";

/*main-visual----------------------------------------------------------------------------------------*/
.main-visual {
	background: linear-gradient(90deg, #fff 30%, #e6efcd 30%);
	max-width: 1920px;
	margin: 0 auto 100px;
	align-items: center;
	font-family: var(--font-en);
}

.main-visual .slider {
	width: 85%;
	background: #fff;
	margin-bottom: 70px;
}

.main-visual .slider li {
	position: relative;
}

.main-visual .mv-copy {
	position: absolute;
	top: 50%;
	left: 5%;
	transform: translate(0, -50%);
	font-size: 3vw; /*1200pxの時32px相当*/
	letter-spacing: var(--ls150);
	line-height: 1.4;
	z-index: 1;
	font-weight: bold;
	color: #fff;
	text-shadow: 0px 0px 10px #000;
}

.main-visual .mv-address {
	align-items: center;
	width: 15%;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	letter-spacing: var(--ls150);
	font-weight: 500;
	font-size: 0.875rem; /*14px相当*/
}

.slick-dots {
	text-align: right;
	bottom: -25px;
}

.slick-dots li,
.slick-dots li button {
	width: 40px;
	height: 5px;
}

.slick-dots li button:before {
	width: 40px;
	height: 5px;
	content: '';
	display: block;
	background:  var(--maincolor);
}

.slider.slick-initialized {
	visibility: visible;
}

/*アニメーションに挑戦*/
.fadeInMain {
	animation-name: fadeInAnime;
	animation-duration: 3s;
	animation-fill-mode: forwards;
	opacity: 0;
}

@keyframes fadeInAnime {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/*メッセージとスタッフのセクション--------------------------------------------------------------------*/
.sec-message h2 {
	background: url(../images/bg-messagen-gr.svg) no-repeat;
}

.sec-staff h2 {
	background: url(../images/bg-staff.svg) no-repeat;
}

.sec-message h2,
.sec-staff  h2 {
	padding-top: 100px;
	background-size: contain;
}

.sec-message a,
.sec-staff a {
	font-weight: bold;
	display: flex;
    align-items: center;
	padding: 0 50px;
	line-height: 50px;
	border: 2px solid var(--maincolor);
	color: var(--maincolor);
	background: #fff;
	font-family: var(--font-en);
	transition: 0.5s;
}

.sec-message a::before,
.sec-staff a::before {
	content: "";
	display: inline-block;
	background: url(../images/icon-scissors-gr.svg) no-repeat;
	width: 30px;
	height: 20px;
	margin-right: 10px;
	transition: 0.5s;
}

.sec-message a:hover,
.sec-staff a:hover {
	background: var(--maincolor);
	color: #fff;
	transition: 0.5s;
}

.sec-message a:hover::before,
.sec-staff a:hover::before {
	background: url(../images/icon-scissors-wt.svg) no-repeat;
	transition: 0.5s;
}

.contents-text p:nth-of-type(2) {
	justify-content: center; /*ボタンをセンター揃え*/
}

.sec-message .flex,
.sec-staff .flex {
	align-items: center;
	position: relative;
}

.sec-staff .flex {
	flex-direction: row-reverse;
}

.sec-message .contents-text,
.sec-staff .contents-text  {
	position: absolute;
    width: 45%;
}

.sec-message .contents-text {
	right: 20px;
}

.sec-staff .contents-text {
	left: 20px;
}

.sec-message .contents-text p:nth-of-type(1),
.sec-staff .contents-text p:nth-of-type(1) {
	line-height: 1.75;
	margin-bottom: 40px;
}

.flex-photo {
	width: 60%;
	border-radius: 20px;
	overflow: hidden;
}

/*Instagramのセクション---------------------------------------------------------------------*/
.sec-insta {
	background: var(--bg-gr-color);
	padding: 100px 0;
	font-family: var(--font-en);
}

.sec-insta .flex {
	flex-wrap: wrap;
}

.sec-insta .flex a {
	color: #fff;
}

.sec-insta .flex h2 {
	font-size: 1.875rem; /*30px相当*/
	margin-bottom: 10px;
	font-weight: 700;
	display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-insta .flex h2::before {
	content: "";
	background: url(../images/icon-insta.svg) no-repeat;
	display: block;
	width: 25px;
	height: 25px;
}

.sec-insta .flex div,
.sec-insta .flex p {
	text-align: center;
	width: 25%;
}

.sec-insta .flex p:nth-of-type(1),
.sec-insta .flex p:nth-of-type(2) {
	order: -1;
}

.sec-insta .flex div {
	background: var(--maincolor)  url(../images/bg-follow.svg) no-repeat 50% 25%;
	background-size: 80%;
	flex-direction: column;
	align-items: center;
    justify-content: center;
}

.instagram-media {
	width: 25%;
}

/*お知らせのセクション---------------------------------------------------------------------------------*/
.sec-news .flex {
	flex-wrap: wrap;
}

.sec-news .ttl {
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 25px;
}

.sec-news h2 {
	color: var(--maincolor);
	font-family: var(--font-en);
	font-size: 2.125rem; /*34px*/
	font-weight: 700;
}

.sec-news .link {
	position: relative;
}

.sec-news .link::before {
	content: "";
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: var(--maincolor);
	transform: scaleX(0);
	transition: transform 0.3s;
}

.sec-news .link::after {
	content: "";
	background: url(../images/icon-link.svg) no-repeat;
	display: inline-block;
	width: 8px;
	height: 12px;
	margin-left: 10px;
}

.sec-news .link:hover::before {
	transform: scaleX(1);
}

.sec-news .news-contents {
	width: 48%;
	background: #fff;
	margin: 0 4% 20px 0;
	box-shadow: 0 0 10px rgba(175, 147, 118, 0.3);
}

.sec-news .news-contents a:hover {
	opacity: 0.5;
	transition: 0.5s;
}

.sec-news .news-contents:nth-child(2n) {
	margin-right: 0;
}

.sec-news .news-contents:nth-child(3),
.sec-news .news-contents:nth-child(4) {
	margin-bottom: 0;
}

.sec-news .news-contents .flex {
	flex-wrap: nowrap;
}

.sec-news .news-contents .flex p {
	width: 35%;
}

.sec-news .news-contents dl {
	padding: 20px;
	width: 65%;
}

.sec-news .news-contents dl dt {
	font-family: var(--font-en);
	font-weight: 700;
	margin-bottom: 10px;
	letter-spacing: var(--ls200);
	color: var(--maincolor);
}

.sec-news .news-contents dl dd {
	line-height: 1.5;
}

/* 求人バナー---------------------------------------------------------------------- */
.sec-recruit {
	margin-bottom: 150px;
	position: relative;
}

.sec-recruit h3 {
	position: absolute;
	font-size: 2rem; /*32px*/
	font-weight: bold;
	color: #fff;
	top: 50%;
	left: 50%;
	width: 90%;
    text-align: center;
	transform: translate(-50%,-50%);
	z-index: 1;
}

.sec-recruit h3 span {
	margin-top: 15px;
	display: block;
	font-size: 1.35rem; /*20px*/
}

.sec-recruit a {
	display: block;
	overflow: hidden;
	transition: 0.5s;
}

.sec-recruit a::after {
	content: "";
	border: 2px solid #fff;
	height: 90%;
	width: 97%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.sec-recruit a img {
	transition: 0.5s;
}

.sec-recruit a:hover img {
	transform: scale(1.1);
	transition: 0.5s;
	filter: blur(3px);
}

/* 
------------------------------------------------------------------------------------------------------
タブレット以下の表示はここからです
------------------------------------------------------------------------------------------------------
*/

@media screen and (max-width:767px){
	/*メインビジュアル--------------------------------------------------------------*/
	.main-visual {
		background: linear-gradient(90deg, #fff 10%, #e6efcd 10%);
	}

	.main-visual .slider {
		margin-bottom: 40px;
	}
	
	.main-visual .mv-copy {
		font-size: 6vw; /*24px相当*/
		letter-spacing: 0.1;
	}

	.main-visual .slide3 .mv-copy {
		top: 75%;
	}
	
	/*メッセージとスタッフのレイアウト------------------------------------------------*/
	.sec-message .flex,
	.sec-staff .flex {
		flex-direction: column-reverse;
	}

	.sec-message .contents-text,
	.sec-staff .contents-text  {
		position: initial;
		width: 100%;
	}
	
	.flex-photo {
		width: 100%;
		max-width: 500px;
		margin-bottom: 45px;
		border-radius: 10px;
	}

	/*Instagramのセクション------------------------------------*/
	.sec-insta {
		padding: 60px 0;
	}

	.sec-insta .flex {
		max-width: 500px;
	}

	.sec-insta .flex h2 {
		font-size: 1.8rem; /*28px相当*/
	}

	.sec-insta .flex span {
		font-size: 0.75rem; /*12px相当*/
	}

	.sec-insta .flex div,
	.sec-insta .flex p {
		width: 50%;
	}

	/*お知らせのセクション----------------------------------------------------------*/
	.sec-news .wrapper {
		max-width: 500px;
	}

	.sec-news .flex {
		flex-wrap: wrap;
	}

	.sec-news .news-contents {
		width: 100%;
		margin: 0 0 20px 0;
	}

	.sec-news .news-contents:nth-child(3) {
		margin-bottom: 20px;
	}

	.sec-news .news-contents .flex {
		flex-wrap: nowrap;
	}
	
	.sec-news .news-contents dl {
		padding: 10px 20px;
	}

	/* 求人バナー---------------------------------------------------------------------- */
	.sec-recruit {
		margin-bottom: 100px;
	}

	.sec-recruit h3 {
		font-size: 1.5rem; /*24px*/
		line-height: 1.3;
	}

	.sec-recruit h3 span {
		margin-top: 10px;
		font-size: 1rem; 
	}

	.sec-recruit a::after {
		width: 80%;
	}

}	
